



###########################################################################
[Scada.Weather]
{ DisplayName=气象 (未连接); TableName=Weather_rec }
Time = 时间; #0
Temp = 温度; #1
Humidity = 湿度; #0
Dewp = 露点温度; #2
Pressure = 气压; #0
Direction = 风向; #0
Windspeed = 风速; #0
Raingauge = 雨量; #0

###########################################################################
# time, doserate, highvoltage, battery, temperature, alarm
[Scada.HIPC]
{ DisplayName=高压电离室; TableName=HIPC_rec }
Time = 时间; #1
Doserate = 剂量率; #2
highvo = 高压; #3
Temp = 温度; #4
battery = 蓄电池; #5

###########################################################################
[Scada.DWD]
{ DisplayName=干湿沉降器 (未连接); TableName=HIPC_rec }
Time = 时间; #1
###########################################################################
[Scada.HVSampler]
{ DisplayName=未命名设备 (未连接); TableName=HIPC_rec }
Time = 时间; #1
###########################################################################
[Scada.ISampler]
{ DisplayName=未命名设备 (未连接); TableName=HIPC_rec }
Time = 时间; #1
###########################################################################
